In [ ]:
import os
import numpy as np
import pandas as pd

root = '/content/drive/MyDrive/'
name_dir = '02_RETAIL'
path = os.path.join(root, name_dir)

# try:
#     os.makedirs(path, exist_ok=True)
#     os.makedirs(os.path.join(path, '01_Documents'), exist_ok=True)
#     os.makedirs(os.path.join(path, '02_Data/01_Originals'), exist_ok=True)
#     os.makedirs(os.path.join(path, '02_Data/02_Validation'), exist_ok=True)
#     os.makedirs(os.path.join(path, '02_Data/03_Work'), exist_ok=True)
#     os.makedirs(os.path.join(path, '02_Data/04_Caches'), exist_ok=True)
#     os.makedirs(os.path.join(path, '03_Notebooks/01_Functions'), exist_ok=True)
#     os.makedirs(os.path.join(path, '03_Notebooks/02_Development'), exist_ok=True)
#     os.makedirs(os.path.join(path, '03_Notebooks/03_System'), exist_ok=True)
#     os.makedirs(os.path.join(path, '04_Models'), exist_ok=True)
#     os.makedirs(os.path.join(path, '05_Results'), exist_ok=True)
#     os.makedirs(os.path.join(path, '09_Others'), exist_ok=True)
# except OSError:
#     print(f"Failed to create directory: {path}")
# else:
#     print(f"Directory created successfully: {path}")

# os.chdir(path)

In [ ]:
name_data_file = 'hipermercado.db'
complete_path = path + '/02_Data/01_Originals/' + name_data_file

In [ ]:
# !pip install --upgrade sqlalchemy pandas
import sqlalchemy as sa

In [ ]:
con = sa.create_engine('sqlite:///' + complete_path)

In [ ]:
from sqlalchemy import inspect
insp = inspect(con)
tables = insp.get_table_names()
tables

['calendar', 'sales', 'sell_prices']

In [ ]:
cal = pd.read_sql('calendar', con)
cal.drop(columns='index',inplace=True)
cal.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2
0,2013-01-01,11249,Tuesday,4,1,2013,d_704,NewYear,National,None,None
1,2013-01-02,11249,Wednesday,5,1,2013,d_705,None,None,None,None
2,2013-01-03,11249,Thursday,6,1,2013,d_706,None,None,None,None
3,2013-01-04,11249,Friday,7,1,2013,d_707,None,None,None,None
4,2013-01-05,11250,Saturday,1,1,2013,d_708,None,None,None,None

In [ ]:
sales = pd.read_sql('sales', con)
sales.drop(columns='index',inplace=True)
sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_704,d_705,d_706,d_707,...,d_1789,d_1790,d_1791,d_1792,d_1793,d_1794,d_1795,d_1796,d_1797,d_1798
0,FOODS_3_090_CA_3_validation,FOODS_3_090,FOODS_3,FOODS,CA_3,CA,0,224,241,232,...,5,2,0,0,6,0,6,0,0,0
1,FOODS_3_120_CA_3_validation,FOODS_3_120,FOODS_3,FOODS,CA_3,CA,0,0,0,0,...,54,63,44,0,65,90,104,73,76,97
2,FOODS_3_202_CA_3_validation,FOODS_3_202,FOODS_3,FOODS,CA_3,CA,20,23,23,25,...,43,40,39,0,29,33,27,13,26,47
3,FOODS_3_252_CA_3_validation,FOODS_3_252,FOODS_3,FOODS,CA_3,CA,34,27,40,49,...,31,43,32,0,52,37,32,29,34,27
4,FOODS_3_288_CA_3_validation,FOODS_3_288,FOODS_3,FOODS,CA_3,CA,0,0,0,0,...,29,45,28,0,46,36,40,31,46,36

In [ ]:
prices = pd.read_sql('sell_prices', con)
prices.drop(columns='index',inplace=True)
prices.head()

  store_id      item_id  wm_yr_wk  sell_price
0     CA_3  FOODS_3_090     11249        1.25
1     CA_3  FOODS_3_090     11250        1.25
2     CA_3  FOODS_3_090     11251        1.25
3     CA_3  FOODS_3_090     11252        1.25
4     CA_3  FOODS_3_090     11301        1.38

### Union of calendar with sales

In [ ]:
sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_704,d_705,d_706,d_707,...,d_1789,d_1790,d_1791,d_1792,d_1793,d_1794,d_1795,d_1796,d_1797,d_1798
0,FOODS_3_090_CA_3_validation,FOODS_3_090,FOODS_3,FOODS,CA_3,CA,0,224,241,232,...,5,2,0,0,6,0,6,0,0,0
1,FOODS_3_120_CA_3_validation,FOODS_3_120,FOODS_3,FOODS,CA_3,CA,0,0,0,0,...,54,63,44,0,65,90,104,73,76,97
2,FOODS_3_202_CA_3_validation,FOODS_3_202,FOODS_3,FOODS,CA_3,CA,20,23,23,25,...,43,40,39,0,29,33,27,13,26,47
3,FOODS_3_252_CA_3_validation,FOODS_3_252,FOODS_3,FOODS,CA_3,CA,34,27,40,49,...,31,43,32,0,52,37,32,29,34,27
4,FOODS_3_288_CA_3_validation,FOODS_3_288,FOODS_3,FOODS,CA_3,CA,0,0,0,0,...,29,45,28,0,46,36,40,31,46,36

In [ ]:
sales = sales.melt(id_vars = sales.columns[0:6],
                   var_name = 'd',
                   value_name = 'sales')
sales

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales
0,FOODS_3_090_CA_3_validation,FOODS_3_090,FOODS_3,FOODS,CA_3,CA,d_704,0
1,FOODS_3_120_CA_3_validation,FOODS_3_120,FOODS_3,FOODS,CA_3,CA,d_704,0
2,FOODS_3_202_CA_3_validation,FOODS_3_202,FOODS_3,FOODS,CA_3,CA,d_704,20
3,FOODS_3_252_CA_3_validation,FOODS_3_252,FOODS_3,FOODS,CA_3,CA,d_704,34
4,FOODS_3_288_CA_3_validation,FOODS_3_288,FOODS_3,FOODS,CA_3,CA,d_704,0
...,...,...,...,...,...,...,...,...
21895,FOODS_3_329_CA_4_validation,FOODS_3_329,FOODS_3,FOODS,CA_4,CA,d_1798,6
21896,FOODS_3_555_CA_4_validation,FOODS_3_555,FOODS_3,FOODS,CA_4,CA,d_1798,5
21897,FOODS_3_586_CA_4_validation,FOODS_3_586,FOODS_3,FOODS,CA_4,CA,d_1798,11
21898,FOODS_3_587_CA_4_validation,FOODS_3_587,FOODS_3,FOODS,CA_4,CA,d_1798,16
21899,FOODS_3_714_CA_4_validation,FOODS_3_714,FOODS_3,FOODS,CA_4,CA,d_1798,21

In [ ]:
sales.drop(columns='id',inplace=True)

#### Cross with calendar to enter your information

In [ ]:
df = sales.merge(right = cal, how = 'left', on = 'd')
df.head()

,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2
0,FOODS_3_090,FOODS_3,FOODS,CA_3,CA,d_704,0,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None
1,FOODS_3_120,FOODS_3,FOODS,CA_3,CA,d_704,0,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None
2,FOODS_3_202,FOODS_3,FOODS,CA_3,CA,d_704,20,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None
3,FOODS_3_252,FOODS_3,FOODS,CA_3,CA,d_704,34,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None
4,FOODS_3_288,FOODS_3,FOODS,CA_3,CA,d_704,0,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None

### Incorporation of prices

In [ ]:
prices.head()

  store_id      item_id  wm_yr_wk  sell_price
0     CA_3  FOODS_3_090     11249        1.25
1     CA_3  FOODS_3_090     11250        1.25
2     CA_3  FOODS_3_090     11251        1.25
3     CA_3  FOODS_3_090     11252        1.25
4     CA_3  FOODS_3_090     11301        1.38

In [ ]:
df = df.merge(right = prices, how = 'left', on = ['store_id','item_id','wm_yr_wk'])
df

,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,sell_price
0,FOODS_3_090,FOODS_3,FOODS,CA_3,CA,d_704,0,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None,1.25
1,FOODS_3_120,FOODS_3,FOODS,CA_3,CA,d_704,0,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None,4.98
2,FOODS_3_202,FOODS_3,FOODS,CA_3,CA,d_704,20,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None,4.28
3,FOODS_3_252,FOODS_3,FOODS,CA_3,CA,d_704,34,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None,1.48
4,FOODS_3_288,FOODS_3,FOODS,CA_3,CA,d_704,0,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21895,FOODS_3_329,FOODS_3,FOODS,CA_4,CA,d_1798,6,2015-12-31,11548,Thursday,6,12,2015,None,None,None,None,2.98
21896,FOODS_3_555,FOODS_3,FOODS,CA_4,CA,d_1798,5,2015-12-31,11548,Thursday,6,12,2015,None,None,None,None,1.68
21897,FOODS_3_586,FOODS_3,FOODS,CA_4,CA,d_1798,11,2015-12-31,11548,Thursday,6,12,2015,None,None,None,None,1.68
21898,FOODS_3_587,FOODS_3,FOODS,CA_4,CA,d_1798,16,2015-12-31,11548,Thursday,6,12,2015,None,None,None,None,2.48
21899,FOODS_3_714,FOODS_3,FOODS,CA_4,CA,d_1798,21,2015-12-31,11548,Thursday,6,12,2015,None,None,None,None,1.58

In [ ]:
df[['store_id','item_id','wm_yr_wk','d','sell_price']]\
    .sort_values(by = ['store_id','item_id','wm_yr_wk','d'])\
    .head(10)

    store_id      item_id  wm_yr_wk      d  sell_price
0       CA_3  FOODS_3_090     11249  d_704        1.25
20      CA_3  FOODS_3_090     11249  d_705        1.25
40      CA_3  FOODS_3_090     11249  d_706        1.25
60      CA_3  FOODS_3_090     11249  d_707        1.25
80      CA_3  FOODS_3_090     11250  d_708        1.25
100     CA_3  FOODS_3_090     11250  d_709        1.25
120     CA_3  FOODS_3_090     11250  d_710        1.25
140     CA_3  FOODS_3_090     11250  d_711        1.25
160     CA_3  FOODS_3_090     11250  d_712        1.25
180     CA_3  FOODS_3_090     11250  d_713        1.25

### Reorder and put date as index

In [ ]:
df.head(1)

,item_id,dept_id,cat_id,store_id,state_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,sell_price
0,FOODS_3_090,FOODS_3,FOODS,CA_3,CA,d_704,0,2013-01-01,11249,Tuesday,4,1,2013,NewYear,National,None,None,1.25

In [ ]:
order = ['date',
         'state_id',
         'store_id',
         'dept_id',
         'cat_id',
         'item_id',
         'wm_yr_wk',
         'd',
         'sales',
         'sell_price',
         'year',
         'month',
         'wday',
         'weekday',
         'event_name_1',
         'event_type_1',
         'event_name_2',
         'event_type_2']

In [ ]:
df = df[order].set_index('date')
df

,state_id,store_id,dept_id,cat_id,item_id,wm_yr_wk,d,sales,sell_price,year,month,wday,weekday,event_name_1,event_type_1,event_name_2,event_type_2
date,,,,,,,,,,,,,,,,,
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_090,11249,d_704,0,1.25,2013,1,4,Tuesday,NewYear,National,None,None
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_120,11249,d_704,0,4.98,2013,1,4,Tuesday,NewYear,National,None,None
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_202,11249,d_704,20,4.28,2013,1,4,Tuesday,NewYear,National,None,None
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_252,11249,d_704,34,1.48,2013,1,4,Tuesday,NewYear,National,None,None
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_288,11249,d_704,0,NaN,2013,1,4,Tuesday,NewYear,National,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31,CA,CA_4,FOODS_3,FOODS,FOODS_3_329,11548,d_1798,6,2.98,2015,12,6,Thursday,None,None,None,None
2015-12-31,CA,CA_4,FOODS_3,FOODS,FOODS_3_555,11548,d_1798,5,1.68,2015,12,6,Thursday,None,None,None,None
2015-12-31,CA,CA_4,FOODS_3,FOODS,FOODS_3_586,11548,d_1798,11,1.68,2015,12,6,Thursday,None,None,None,None
2015-12-31,CA,CA_4,FOODS_3,FOODS,FOODS_3_587,11548,d_1798,16,2.48,2015,12,6,Thursday,None,None,None,None
2015-12-31,CA,CA_4,FOODS_3,FOODS,FOODS_3_714,11548,d_1798,21,1.58,2015,12,6,Thursday,None,None,None,None

### Extract and reserve the validation dataset

In [ ]:
val = df['2015-12-01':'2015-12-31']

work = df[:'2015-11-31']

In [ ]:
name_file_validation = 'validation.csv'

complete_root = path + '/02_Data/02_Validation/' + name_file_validation

val.to_csv(complete_root)